# ------------------------------------------------------------
# Python
# ------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/

# ------------------------------------------------------------
# Entornos virtuales
# ------------------------------------------------------------
venv/
.venv/
env/

# ------------------------------------------------------------
# PyCharm / JetBrains
# ------------------------------------------------------------
.idea/

# ------------------------------------------------------------
# VS Code
# ------------------------------------------------------------
.vscode/

# ------------------------------------------------------------
# Sistema operativo
# ------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------
# Credenciales / configuración local
# ------------------------------------------------------------
.env
